   
header{
   background-image:url("lsm.jpg") ;
position:fixed ;
   top: 0;
background-color: white;
padding: 2%;
left: 0;
right:0 ;
display: flex;
  
}
header nav ul{

display: flex;
gap: 50px;
margin-left: 50px;
font-size: 20px;
 }
 header nav ul li{
    list-style-type: none;
    margin: 0 15px;

 }

 header nav ul li a{
     
    padding: 8px;
    border-radius: 15px;

 }
 header nav ul li a:hover{

    background-color:rgb(197, 25, 199);

 }
 